# .gitignore


# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*
sysinfo.txt
*.pidb.meta
 
# VS/Rider/MD/Consulo
ExportedObj/
.consulo/
.idea/
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
 
# Builds
*.apk
*.unitypackage
*.app
*.exe
.vs/
Assets/StreamingAssets/SaveFile.txt
round-the-world/Library/
round-the-world/ProjectSettings/
round-the-world/Temp/UnityLockfile
round-the-world/Temp/UnityTempFile-048325b31fbbbb84ab9f8396b75262ac
round-the-world/Temp/
